.zn-plugin-admin-master-slave-flex-layout{

    &>.layout-header, &>.layout-body{
        background: rgba(247, 242, 242, 0.2);
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
        height: 100%;
    }


    &>.layout-body {
        margin-left: 5px;
    }

    &>.layout-footer {

    }

}
