.zn-plugin-admin-user-info {
    padding: 15px;
    .info-form{
        padding: 5px;
        border: 2px dashed #e6e6e6;
        margin: 10px 0px;
        position: relative;
        min-height: 64px;
    }
}
